html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-link {
    text-decoration: none;
    color: inherit;
}

h2 {
    word-wrap: break-word;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.pt-56 {
    padding-top: 56px;
}

.description-validation-message {
    font-size: .875em;
    color: #dc3545;
    margin-top: .25rem;
}

.description-validation {
    box-shadow: 
    0 0 0 1px #dc3545,
    0 0 0 #dc3545,
    0 1px 1px #dc3545!important;
}

.center-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.break-word {
    word-wrap: break-word;
}

.container-min-height {
    min-height: calc(100vh - 56px);
}

.mw-400 {
    max-width: 400px;
}

.add-collection-form-container {
    max-width: 800px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.image-dropdown {
    border: 2px dashed #dee2e6;
    padding: 20px;
    text-align: center;
}

.custom-field-element {
    border-radius: 16px;
    background: #e5e7eb;
    padding: 0.2rem 0.6rem;
    margin-right: 0.5rem;
    color: #4b5563;
}

.custom-field-delete {
    cursor: pointer;
}